n8n-workflows/import/hakka-news-automation.json
{
  "name": "客家新聞自動化處理",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "url": "http://backend:8000/api/news_with_audio",
        "options": {}
      },
      "id": "b8b2c8c0-1234-5678-9abc-def123456789",
      "name": "獲取客家新聞",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        420,
        240
      ]
    },
    {
      "parameters": {
        "interval": 3600000,
        "unit": "hours"
      },
      "id": "a1b2c3d4-5678-90ab-cdef-123456789012",
      "name": "每小時觸發",
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c4d5e6f7-8901-2345-6789-abcdef012345",
              "leftValue": "={{ $json.news }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7f8g9h0-1234-5678-90ab-cdef01234567",
      "name": "檢查新聞內容",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8g9h0i1-2345-6789-0abc-def123456789",
              "name": "title",
              "value": "={{ $json.news[0] }}",
              "type": "string"
            },
            {
              "id": "g9h0i1j2-3456-7890-bcde-f123456789ab",
              "name": "audio_url", 
              "value": "={{ $json.audio_url }}",
              "type": "string"
            },
            {
              "id": "h0i1j2k3-4567-8901-cdef-23456789abcd",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "i1j2k3l4-5678-9012-def0-3456789abcde",
      "name": "處理新聞資料",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        780,
        160
      ]
    },
    {
      "parameters": {
        "message": "新的客家新聞已發布:\n標題: {{ $json.title }}\n時間: {{ $json.timestamp }}\n音檔: {{ $json.audio_url }}"
      },
      "id": "j2k3l4m5-6789-0123-ef01-456789abcdef",
      "name": "發送通知",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "每小時觸發": {
      "main": [
        [
          {
            "node": "獲取客家新聞",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "獲取客家新聞": {
      "main": [
        [
          {
            "node": "檢查新聞內容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "檢查新聞內容": {
      "main": [
        [
          {
            "node": "處理新聞資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "處理新聞資料": {
      "main": [
        [
          {
            "node": "發送通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12345678-90ab-cdef-0123-456789abcdef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abcdef01-2345-6789-0abc-def123456789"
  },
  "id": "98765432-10ab-cdef-0123-456789abcdef",
  "tags": []
}